# Build parameters consumed by the Universal Blue Justfile.
IMAGE_NAME="bazzite-lab"
REPO_ORGANIZATION="2012huynhdat-cmyk"
IMAGE_DESC="Bazzite NVIDIA Open Wayland Lab"
IMAGE_KEYWORDS="bazzite,bootc,oci,linux,wayland,nvidia"
IMAGE_LOGO_URL="https://github.com/2012huynhdat-cmyk.png"
DEFAULT_TAG="latest"
BIB_IMAGE="quay.io/centos-bootc/bootc-image-builder:latest"
